.container {
    width: 1280px;
    margin: 0 auto;
}
.logo {

    width: 334px;
    height: 79px;
    margin-top: 60px ;
    margin-left: 98px;

}
.navbar {
    width: 1270px;
    height: 72px;
    background: silver;
    margin-left: 98px;
    margin-top: 40px;
    margin-right: 100px;
    background-color: #35444F;
    display: flex;
    justify-content: center;

}
.nav-bar-menu {
    display: flex;
    justify-content: center;
}
.li-nav {
    padding: 24px;
    border: 1px solid white;


}
main {
    display: flex;

}
.side-menu {
    width: 344px;
    height: 399px;
    border: 1px solid silver;

    margin-top: 50px;
    margin-left: 98px;
    margin-right: 52px;

}
.content {
    height: 832px;
    width: 885px;

    margin-top: 50px;


}

.footer-nav {
    width: 1200px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);

;

    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px;


}

#logo{
    text-decoration: none;
    color: black;
    font-size:80px ;
    font-family: 'Roboto', sans-serif;
}
span {
    color: darkturquoise;
}

.a-nav {
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;

}
.side-m {
    text-decoration: none;
    display: flex;
    color: black;
    font-size: 27px;
    font-family: 'Roboto', sans-serif;
   padding-left: 44PX;
    padding-top: 25px;
    padding-bottom: 25px;

}
.image {
    display: flex;
    justify-content: center;
    padding: 70px 250px;
    border: 1px solid silver;

}
#text1 {
    display: flex;
    justify-content: center;
    padding: 35px;
    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
#text2 {
    display: flex;
    justify-content: center;

    padding-left: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.footer-ul {
    display: flex;
    justify-content: center;



}
.footer-m {
    text-decoration: none;
    padding-right: 20px;
    font-size:28px ;
    font-family: 'Roboto', sans-serif;
    color: black;


}
#footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    padding-left: 82px;

}

.li-nav:hover{
    background: #63696E;
}
.li-menu:hover{
    background: #63696E;
}
.scale {
    transition: 1s;
}
.scale:hover{
    transform: scale(1.2);
}
.li-first{
    border: none;
}
.footer-m:hover {
    text-decoration: underline ;
}